---
title: Home
description: The Debuggy home page.
---

<script src="https://unpkg.com/feather-icons"></script>

<h1>The Debuggy Team</h1>
<p>We are a group of people who like making Minecraft mods.</p>

<h2>Debuggy Dev Team</h2>
<p>Everyone listed here is involved with Debuggy projects code-wise.</p>
<div class="profiles dev-team">
    {% for card in site.data.members %}
    <i>
        <div class="profile-card">
            {% if card.social.pfp-override %}
            <img class="profile-picture" src="{{card.social.pfp-override}}" alt="{{card.name}}'s profile picture">
            {% else %}
            <img class="profile-picture" src="https://avatars.githubusercontent.com/{{card.social.github}}?size=256" alt="{{card.name}}'s profile picture">
            {% endif %}

            <h1>{{card.name}}</h1>
            {% if card.social.pronouns %}
            <p class="pronouns">{{card.social.pronouns}}</p>
            {% endif %}


            {% if card.is-plural-system==true %}
            <p class="plurality">Plural System</p>
            <div class="plural-avatars">
                {% if card.is-system-memberlist-redacted==true %}
                <div class="redacted-heart tooltip"><i data-feather="heart"></i>
                    <span class="redacted-info tooltip-text">Memberlist redacted by request.</span>
                </div>
                {% else %}
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>

                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                <i><img src="{{card.social.profile-picture-url}}"></i>
                {% endif %}
            </div>
            {% endif %}

            <p class="role">{{card.role}}</p>
            <p class="description line-clamp">{{card.description}}</p>
            {% for social-link in card.social %}
            {% if social-link %}
            <div class="socials">
                <a href="{{social-link}}"><i data-feather="globe">{{social-link}}</i></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </i>
    {% endfor %}
</div>

<!--
<h2>Debuggy Community Team</h2>
<p>Everyone listed here is involved with managing and moderating the Debuggy community spaces.</p>

<div class="profiles community-team">
    <i>
        <div class="profile-card">
            <img class="profile-picture" src="https://cdn.discordapp.com/icons/912349224232943649/90c5433e15029bbdd96100408e23b7a9.webp" alt="test">
            <h1>example name</h1>
            <p class="plurality">Plural System</p>
            <div class="plural-avatars">
                <div class="redacted-heart"><i data-feather="heart"></i>
                    <span class="redacted-info">Memberlist redacted by request.</span>
                </div>
            </div>
            <p class="title">Community Manager</p>
            <p class="description">We are a group of people who like making Minecraft mods.</p>
            <div class="socials">
                <a href="#"><i data-feather="globe"></i></a>
                <a href="#"><i data-feather="github"></i></a>
                <a href="#"><i data-feather="gitlab"></i></a>
            </div>
        </div>
    </i>
</div>
-->

<!--
<footer class="footer">
    <p>Footer</p>
</footer>
-->

<script>
    feather.replace()
</script>