---
title: Home
description: The Debuggy home page.
---

<section>
	<div class="card">
		<h1>The Debuggy Team</h1>
		<p>We are a group of people who like making Minecraft mods.</p>

		<div class="button-grid">
			<a href="{{site.data.links.discord}}" style="background-color: var(--discord-button-color); color: white;">
				<img class="icon" src="assets/discord-mark-white.svg"/>
				<span>Discord</span>
			</a>
			<a href="{{site.data.links.github}}" style="background-color: var(--github-button-color); color: black;">
				<i class="icon" data-feather="github"></i>
				<span>GitHub</span>
			</a>
		</div>
	</div>
</section>

<section class="solid below">
	<main>
		<h2>Debuggy Dev Team</h2>
		<p>Everyone listed here is involved with Debuggy projects code-wise.</p>

		<div class="profiles dev-team">
			{% for card in site.data.members %}
				<div class="profile-card">
					{% if card.social.pfp-override %}
					<img class="profile-picture" src="{{card.social.pfp-override}}" alt="{{card.name}}'s profile picture">
					{% else %}
					<img class="profile-picture" src="https://avatars.githubusercontent.com/{{card.social.github}}?size=256" alt="{{card.name}}'s profile picture">
					{% endif %}
		
					<h1>{{card.name}}</h1>
					{% if card.social.pronouns %}
					<p class="pronouns">{{card.social.pronouns}}</p>
					{% endif %}
		
		
					{% if card.is-plural-system==true %}
					<p class="plurality">Plural System</p>
					<div class="plural-avatars">
						{% if card.is-system-memberlist-redacted==true %}
						<div class="redacted-heart tooltip"><i data-feather="heart"></i>
							<span class="redacted-info tooltip-text">Memberlist redacted by request.</span>
						</div>
						{% else %}
						{% for member in card.plural-system-members %}
						<img src="{{card.social.profile-picture-url}}">
						{% endfor %}
						{% endif %}
					</div>
					{% endif %}
		
					<p class="role">{{card.role}}</p>
					<p class="description line-clamp">{{card.description}}</p>
					{% if card.social.github %}
					<div class="socials">
						<a href="https://github.com/{{card.social.github}}" title="GitHub"><i data-feather="globe">{{card.social.github}}</i></a>
					</div>
					{% endif %}
					{% if card.social.links %}
					{% for social-link in card.social.links %}
					<div class="socials">
						<a href="{{social-link[1]}}" title="{{social-link[0]}}"><i data-feather="globe">{{social-link[0]}}</i></a>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<!--
		<h2>Debuggy Community Team</h2>
		<p>Everyone listed here is involved with moderating and/or managing Debuggy community spaces.</p>
		<div class="profiles community-team">
			<i>
				<div class="profile-card">
					<img class="profile-picture" src="https://avatars.githubusercontent.com/test?size=256" alt="test">
					<h1>example name</h1>
					<p class="plurality">Plural System</p>
					<div class="plural-avatars">
						<div class="redacted-heart tooltip"><i data-feather="heart"></i>
							<span class="redacted-info tooltip-text">Memberlist redacted by request.</span>
						</div>
					</div>
					<p class="title">Community Manager</p>
					<p class="description">We are a group of people who like making Minecraft mods.</p>
					<div class="socials">
						<a href="#"><i data-feather="globe"></i></a>
						<a href="#"><i data-feather="github"></i></a>
						<a href="#"><i data-feather="gitlab"></i></a>
					</div>
				</div>
			</i>
		</div>

		<h2>Contributors</h2>
		<p>Everyone listed here has contributed to Debuggy in some way.</p>
		<div class="profiles contributors">
			<i>
				<div class="profile-card">
					<img class="profile-picture" src="https://avatars.githubusercontent.com/Cart3r1234?size=256" alt="test">
					<h1>example name</h1>
					<p class="plurality">Plural System</p>
					<div class="plural-avatars">
						<div class="redacted-heart tooltip"><i data-feather="heart"></i>
							<span class="redacted-info tooltip-text">Memberlist redacted by request.</span>
						</div>
					</div>
					<p class="title">Contributor</p>
					<p class="description">We are a group of people who like making Minecraft mods.</p>
					<div class="socials">
						<a href="#"><i data-feather="globe"></i></a>
						<a href="#"><i data-feather="github"></i></a>
						<a href="#"><i data-feather="gitlab"></i></a>
					</div>
				</div>
			</i>
		</div>
		-->
	</main>
</section>
