/*** Dark theme colors ***/

/* Main site colors */
$background-color: hsl(0, 4%, 9%);
$navbar-color: hsl(0, 3%, 15%);
$navbar-select-color: hsl(0, 4%, 9%);

/* Text and links */
$link-color: hsl(300, 100%, 50%);
$link-color-hover: hsl(300, 45%, 42%);
$text-color: hsl(0, 0%, 100%);