:root {
    /* Main site colors */
    --background-color: rgb(34, 39, 133);
    --navbar-color: rgb(49, 56, 188, .8);
    --navbar-border-color: rgb(42, 48, 163, .8);

    /* Text and links */
    --link-color: hsl(240, 100%, 50%);
    --link-color-hover: hsl(177, 70%, 41%);
    --text-color: rgb(192, 195, 248);

    /* Miscellaneous Colors */
    --debuggy-dark-blue: rgb(42, 48, 163);
    --debuggy-blue: rgb(49, 56, 188);
    --debuggy-light-blue: rgb(52, 59, 201);

    --card-color: hsl(237, 100%, 79%);
    --card-border-color: hsl(237, 84%, 64%);

    --debuggy-moderation: hsl(9, 69%, 68%);
    --debuggy-moderation-border: hsl(9, 64%, 55%);

    @media screen and (prefers-color-scheme: dark) {
        html {
            /* Main site colors dark theme */
            --background-color-dark: hsl(0, 4%, 9%);
            --navbar-color-dark: hsl(0, 3%, 15%);
            --navbar-select-color-dark: hsl(0, 4%, 9%);

            /* Text and links dark theme */
            --link-color-dark: hsl(300, 100%, 50%);
            --link-color-hover-dark: hsl(300, 45%, 42%);
            --text-color-dark: hsl(0, 0%, 100%);
        }
    }
}
