.tooltip {
    position: relative;
    display: inline-block;

    .tooltip-text {
        visibility: hidden;
        width: 240px;
        padding: 5px;
        border-radius: 6px;
        opacity: 0.5;
    
        /* Tooltip text positioning */
        text-align: center;
        position: absolute;
    
        /* Tooltip coloring */
        background-color: var(--background-color);
        color: var(--text-color);
    
        &:hover {
            visibility: visible;
        }
    }
}