nav {
	list-style-type: none;
	margin: 0;
	padding: 16px;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	margin-top: -1px;

	li {
		display: inline;
	}

	a {
		padding: 16px;
		text-decoration: none;
	}

	a:hover {
		background-color: burlywood;
		padding: 16px;
	}
}
