@import "colors";

nav {
	margin: 0;
	margin-top: -1;
	padding: 16px;
	list-style-type: none;
	justify-content: center;
	background-color: $navbar-color;

	li {
		display: inline;
	}

	a {
		padding: 16px;
		text-decoration: none;

		&:hover {
			padding: 16px;
			background-color: $navbar-select-color;
		}
	}
}

@media screen and (prefers-color-scheme: dark) {
	nav {
		background-color: $navbar-color-dark;

		a:hover {
			background-color: $navbar-select-color-dark;
		}
	}
}