---
---

@import "colors";
@import "components";
@import "navigation";

:root {
	--font: Arial, Helvetica, sans-serif;
}

h1, h2, p, li, a {
	font-family: var(--font);
}

p {
	font-size: 1.1rem;
}

a {
	color: var(--link-color);

	&:hover {
		color: var(--link-color-hover);
	}
}

main {
	min-height: 100%;
	max-width: 140ch;
	margin-inline: auto;
	text-align: center;
}

.updated {
	font-size: 1.25rem;
	margin-top: -20px;
}

/** Fix annoying padding */
body {
	margin: 0;
}

/** Lists don't play super well with being centered */
ul, ol {
	max-width: 80ch;
	margin-inline: auto;
	text-align: left;
}

.profiles {
	
	h1 {
		margin: 0;
		font-size: 28px;
	}

	img {
		border-radius: 50%;
		object-fit: cover;
	}

	.profile-card {
		min-width: 250px;
		max-width: 275px;
		min-height: 325px;
		text-align: center;
		padding: 8px;
	}

	.profile-picture {
		width: 100px;
		height: 100px;
	}

	.pronouns {
		margin-top: -4px;
	}

	.plural-avatars {
		padding-left: 10px;
		padding-right: 10px;
		max-height: 100px;

		img {
			width: 30px;
			height: 30px;
		}
	}
	
	.role {
		font-size: 18px;
	}

	.description {
		padding-left: 10px;
		padding-right: 10px;
		max-width: 250px;
	}

	.socials {
		display: inline;
	}
}

.profiles.dev-team {
	display: grid;
	row-gap: 73px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;

	a {
		color: black;

		&:hover {
			color: chartreuse;
		}
	}

	.profile-card {
		background-color: var(--debuggy-team);
		border: 3px solid var(--debuggy-team-border);
	}

	.profile-picture {
		border: 3px solid var(--debuggy-team-border);
	}
}

.profiles.community-team {
	display: grid;
	row-gap: 73px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;

	a {
		color: black;

		&:hover {
			color:chartreuse;
		}
	}

	.profile-card {
		background-color: var(--debuggy-moderation);
		border: 3px solid var(--debuggy-moderation-border);
	}

	.profile-picture {
		border: 3px solid var(--debuggy-moderation-border);
	}
}

.debuggycord {
	border: none;
	padding: 15px 32px;
	color: var(--text-color);
	background-color: var(--debuggy-team);

	&:hover {
		filter: saturate(200%);
	}
}

.footer {
	display: grid;
	grid-template-columns: 100vw 100vw 100vw;
	padding: 10px;
	background-color: var(--navbar-color);
 }

