---
---

@import "colors";
@import "components";
@import "navigation";

:root {
	--font: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p, li, a {
	font-family: var(--font);
	text-rendering: optimizeLegibility;
}

p {
	font-size: 1.1rem;
}

a {
	color: var(--link-color);

	&:hover {
		color: var(--link-color-hover);
	}
}

main {
	min-height: 100%;
	margin-inline: auto;
	text-align: center;
}

.updated {
	font-size: 1.25rem;
	margin-top: -20px;
}

/** Fix annoying padding */
body {
	margin: 0;

	background-color: var(--background-color);
	background-image: url("../background.png");
	background-repeat: repeat;
	background-size: 500px;
}

.section {

	display: block;
	padding: 3rem;

}

.solid {

	box-shadow: rgba(0, 0, 0, 0.58) 0px 0px 9pt;
	background-color: var(--debuggy-dark-blue);
	color: var(--text-color);
	border: 12px solid var(--background-color);
	border-radius: 8px;
	margin-left: 100px;
	margin-right: 100px;

}

.below {

	margin-top: 7rem;

}

/** Lists don't play super well with being centered */
ul, ol {
	max-width: 80ch;
	margin-inline: auto;
	text-align: left;
}

.home-card {

	box-shadow: rgba(0, 0, 0, 0.58) 0px 0px 9pt;
	background-color: var(--card-color);
	border: 3px solid var(--card-border-color);

	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;

}

.profiles {

	color: black;

	h1 {
		margin: 0;
		font-size: 28px;
	}

	img {
		border-radius: 50%;
		object-fit: cover;
	}

	.profile-card {
		box-shadow: rgba(0, 0, 0, 0.58) 0px 0px 9pt;
		border: 0px;
		outline: 0px;
		border-radius: 8px;
		margin: 0px 10px;

		min-width: 250px;
		max-width: 275px;
		min-height: 325px;
		text-align: center;
		padding: 8px;
	}

	.profile-picture {
		width: 100px;
		height: 100px;
	}

	.pronouns {
		margin-top: -4px;
	}

	.plural-avatars {
		padding-left: 10px;
		padding-right: 10px;
		max-height: 100px;

		img {
			width: 30px;
			height: 30px;
		}
	}

	.role {
		font-size: 18px;
	}

	.description {
		padding-left: 10px;
		padding-right: 10px;
		max-width: 250px;
	}

	.socials {
		display: inline;
	}
}

.profiles.dev-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

	a {
		color: black;

		&:hover {
			color: chartreuse;
		}
	}

	.profile-card {
		background-color: var(--card-color);
		border: 3px solid var(--card-border-color);

		margin: 5rem 2rem 0;
		height: 23rem;
	}

	.profile-picture {
		border: 3px solid var(--card-border-color);
	}
}

.profiles.community-team {
	display: grid;
	row-gap: 73px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;

	a {
		color: black;

		&:hover {
			color:chartreuse;
		}
	}

	.profile-card {
		background-color: var(--debuggy-moderation);
		border: 3px solid var(--debuggy-moderation-border);
	}

	.profile-picture {
		border: 3px solid var(--debuggy-moderation-border);
	}
}

.debuggycord {
	border: none;
	padding: 15px 32px;
	color: var(--text-color);
	background-color: var(--card-color);

	&:hover {
		filter: saturate(200%);
	}
}

.footer {
	display: grid;
	grid-template-columns: 100vw 100vw 100vw;
	padding: 10px;
	background-color: var(--navbar-color);
 }

