<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{%if page.title%}{{page.title}} | {%endif%}Debuggy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#609FFF"/>
	<meta property="og:title" content="{%if page.title%}{{page.title}} | {%endif%}Debuggy"/>
	<meta property="og:description" content="{{page.description}}"/>
	{% if page.style %}
	<link rel="stylesheet" href="assets/css/{{page.style}}.css"/>
	{% endif %}
	{% for style in page.styles %}
	<link rel="stylesheet" href="assets/css/{{style}}.css"/>
	{% endfor %}
</head>
<body>

{% include navigation.html %}

<main>
	{{content}}
</main>
</body>
</html>
