:root {
    --font: Arial, Helvetica, sans-serif;
}

h1, h2, p, li {
    font-family: var(--font);
}

p {
    font-size: 1.1rem;
}

a {
    color:fuchsia;
}

a:hover {
    color: hsl(300, 45%, 42%)
}

.code-of-conduct {
    max-width: 140ch;
    margin-inline: auto;
    text-align: center;
}

.updated-date {
    font-size: 1.25rem;
    margin-top: -20px;
}

.code-of-conduct-examples {
    max-width: 80ch;
    margin-inline: auto;
    text-align: left;
}

/*
    This deals with dark theme
*/
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: hsl(0, 4%, 9%)
    }

    h1, h2, p, li {
        color: white;
    }
}
